@{ ViewData["Title"] = "Home XPages"; }

<h1>登錄成功</h1>

<h5>角色: @ViewData["Role"]</h5>

<script>
  let jsonData = '@Html.Raw(ViewData["JsonData"])';
  console.log("jsonData:", jsonData);
</script>
<style></style>
